{% extends 'base.html.twig' %}

{% block title %}AUT'O - Profil de {{ app.user.prenom }}{% endblock %}

{% block body %}
   <!-- Axentix CSS minified version -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.css">
   <div class="grix xs4 container">
      {% for message in app.flashes('message') %}
      <div class="col-xs4">
         <div class="p-3 my-2 rounded-1 green light-4 text-green text-dark-4">{{ message }}</div>
      </div>
      {% endfor %}
      <div class="col-xs4">
         <h1>Profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>
      </div>
      <div class="col-xs1">Nom :</div>
      <div class="col-xs3">{{ app.user.nom }}</div>
      <div class="col-xs1">Prénom :</div>
      <div class="col-xs3">{{ app.user.prenom }}</div>
      <div class="col-xs1">Email :</div>
      <div class="col-xs3">{{ app.user.email }}</div>
      <div class="col-xs4">
         <a href="{{ path('app_profil_edit') }}" class="btn shadow-1 rounded-1 blue">Modifier le profil</a>
         <a href="{{ path('app_password_edit') }}" class="btn shadow-1 rounded-1 blue">Modifier le mot de passe</a>
      </div>
   </div>
{% endblock %}