{% extends 'base.html.twig' %}

{% block title %}Moniteur index{% endblock %}

{% block body %}
    <h1>Moniteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomutilisateur</th>
                <th>Motdepasse</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Datedenaissance</th>
                <th>Adresse</th>
                <th>Codepostal</th>
                <th>Ville</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moniteur in moniteurs %}
            <tr>
                <td>{{ moniteur.id }}</td>
                <td>{{ moniteur.nomutilisateur }}</td>
                <td>{{ moniteur.motdepasse }}</td>
                <td>{{ moniteur.nom }}</td>
                <td>{{ moniteur.prenom }}</td>
                <td>{{ moniteur.sexe }}</td>
                <td>{{ moniteur.datedenaissance ? moniteur.datedenaissance|date('Y-m-d') : '' }}</td>
                <td>{{ moniteur.adresse }}</td>
                <td>{{ moniteur.codepostal }}</td>
                <td>{{ moniteur.ville }}</td>
                <td>{{ moniteur.telephone }}</td>
                <td>
                    <a href="{{ path('app_moniteur_show', {'id': moniteur.id}) }}">show</a>
                    <a href="{{ path('app_moniteur_edit', {'id': moniteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_moniteur_new') }}">Create new</a>
{% endblock %}
